<section class="conteiner form-contact">
  <div class="form-contact-text">
    <p class="text">Contact Us</p>
    <h2 class="form-name">
      <span class="form-name-red">Contact</span> Us & We CanWork Together
    </h2>

    <p class="form-text">
      Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim id
      gravida pulvinar. Tristique consectetur mi curabitur congue enim dignissim
    </p>

    <form class="form">
      <label class="form-label">
        <input class="form-input" placeholder="Your Name" />
      </label>
      <label class="form-label">
        <input class="form-input" placeholder="Your Email" />
      </label>
      <label class="form-comment">
        <textarea
          class="modal-comment"
          name="feedback"
          rows="5"
          placeholder="Your Message"
        ></textarea>
      </label>

      <button class="btm" type="submit">Submit Message</button>
    </form>
  </div>

  <img
    class="img link"
    src="./img/group.jpg"
    alt="group"
    width="610"
    height="829"
  />
</section>
