<!---------- Our Portfolio ---------->
<section class="section-portfolio">
  <div class="text-portfolio">
    <p class="text">Our Portfolio</p>
    <h2 class="title-portfolio">
      <span class="span-portfolio">Projects</span>We Have Completed
    </h2>
  </div>
<div class="portfolio-button-box">
      <ul class="portfolio-button-list">
        <li class="portfolio-item">
          <button type="button" class="portfolio-button">All</button>
        </li>
        <li class="portfolio-item">
          <button type="button" class="portfolio-button">UI/UX</button>
        </li>
        <li class="portfolio-item">
          <button type="button" class="portfolio-button">Development</button>
        </li>
        <li class="portfolio-item">
          <button type="button" class="portfolio-button">Mobile Development</button>
        </li>
        <li class="portfolio-item">
          <button type="button" class="portfolio-button">SEO</button>
        </li>
      </ul>
</div>
  <ul class="pictures-portfolio">
    <li>
      <img
        src="./img/Our_portfolio1.jpg"
        alt="our_portfolio_picture_1"
        width="374"
        height="439"
      />
    </li>
    <li>
      <img
        src="./img/Our_portfolio2.jpg"
        alt="our_portfolio_picture_2"
        width="374"
        height="513"
      />
    </li>
    <li>
      <img
        src="./img/Our_portfolio3.jpg"
        alt="our_portfolio_picture_3"
        width="374"
        height="439"
      />
    </li>
  </ul>
</section>
